@font-face{
    font-family: FF Pro;
    src: url(fonts/FF Meta Pro - Normal.otf);
}

body{
    font-family: ff-meta-web-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #F6EFE5;   
}

header{
    background-color: #C879B2;
    width: 40%;
    height: 50em;    
    float: left;
}

.intro:after {
    content: "";
    display: table;
    clear: both;
}

header h1{
    position: absolute;
    color: #FFFFFF;
    transform: rotate(270deg);       
    float: left;
    font-size: 95%;  
    top: 6em;
    left: -2.5em;
    font-weight: bold;
}

header h2{
    color: #FFFFFF;
    width: 50%;    
    float: right;   
    background: #153042 url(../images/icon-star.svg) no-repeat center bottom;
    background-size: 101%;      
    padding: 6.3em 1em 1em 0.5em;
    font-size: 240%;
    height: 100%;    
    line-height: 1.3em;   
    font-weight: bold;
    box-sizing: border-box;
}

.summary{    
    color: #FFFFFF; 
    float: left;    
    background: #C879B2 url(../images/icons-3-pack.svg) no-repeat bottom;
    background-size: 101%;
    margin: 0;       
    width: 60%;
    height: 50em;
    box-sizing: border-box;
    padding: 16.2em 2em 10em 2em;    
}

.summary a:link{
    color: #FFFFFF;
    cursor: pointer;
}

.summary p{         
    padding: 0 45% 2em 0;
    line-height: 1.5;   
}

.preamble{    
    width: 60%;
    position: relative;
    margin: 0 0 0 20%;  
    line-height: 1.7em;    
    box-sizing: border-box; 
    float: left;
    padding: 9.5em 0 9em 0;
}

.preamble h3{
    font-weight: bold;
    font-size: 140%;
    color: #0D2C40;
    margin: 0 0 1em 0;     
}

.preamble p{
    font-size: 95%;
    color: #0D2C40;
    width: 63%;   
    margin: 0 0 1em 0;
}


.preamble p:last-child{
    background-color: #3AC2D8;          
    height: 120%;
    width: 33.7%;    
    color: #FFFFFF;        
    box-sizing: border-box;    
    position: absolute;
    top: 0;    
    right: -0.1em;    
    padding: 10.5em 1em 20em 1em;
    z-index: 2;
    opacity: 0.9;
}

.main{
    background: url(../images/mid-century-1.jpg) no-repeat top center;      
    position: relative;    
    display: table;
}

.explanation{
    position: relative;
    width: 40%;    
    color: #FFFFFF;    
    background: #0D2C40 url(../images/icon-half.svg) no-repeat right center;
    background-size: 40%;    
    box-sizing: border-box;
    margin-top: 15em;
}

.explanation h3{
    transform: rotate(270deg);
    position: absolute;    
    height: 4em;
    float: left;
    font-size: 141%;  
    top: 6em;
    left: -2.5em;
    font-weight: bold;
}

.explanation p{    
    width: 56%;
    padding: 3em 1em 0 7em; 
    line-height: 1.7em;
    font-size: 96%;
}
.explanation p:last-child{
    padding: 3em 1em 3em 7em;

}

.participation{
    position: relative; 
    margin-top: 38%;
    left: 20%;
    width: 40%;
    float: left;
    background-color: #F6EFE5;
    line-height: 1.7em;
    box-sizing: border-box;
}

.participation a:link{ 
    color: #0D2C40;
    cursor: pointer;
}

.participation h3{
    font-weight: bold;
    font-size: 140%;
    color: #0D2C40;
    padding: 1.8em 1em 0 0.7em;    
}

.participation p{
    font-size: 95%;
    padding: 1.5em 1.5em 0 1.2em;    
}

.benefits{
    position: relative;    
    margin-top: 29%;    
    float: left;
    left: 20%;   
    width: 20%;     
    background: #31C6DB url(../images/icon-circles.svg) no-repeat top center;    
    background-size: 100%;    
    opacity: 0.9;   
}

.benefits h3{
    font-weight: bold;
    font-size: 141%;
    color: #0D2C40;
    padding: 1.8em 1em 1em 1em; 
    margin-top: 14em;    
}

.benefits p{
    font-size: 95%;
    padding: 0.5em 1.3em 0 1.2em;
    line-height: 2em;
}

.benefits:after{
    content: '';
    position: absolute;
    background-color: #31C6DB;
    width: 100%;
    height: 30em;
}

.requirements{
    position: relative;    
    width: 60%;
    right: 0;
    box-sizing: border-box;
    columns: 3em 2;
    float: right;  
    margin-left: 40%; 
    margin-top: 22em;
    padding-bottom: 8%;

}

.requirements h3{
    position: absolute;
    font-weight: bold;
    font-size: 280%;
    transform: rotate(270deg);
    color: #0D2C40;    
    top: -1em;
    right: 89%;    
    line-height: 2em;   
    margin: 0;
    padding: 1em;
    box-sizing: border-box; 
    
}

.requirements:before{
    content: '';    
    background: url(../images/mid-century-2.jpg) no-repeat;    
    background-size: cover;
    position: absolute;
    width: 61%;
    height: 109%;
    right: 100%;
    bottom: 0;
    box-sizing: border-box;   
}

.requirements p{
    font-size: 95%;
    padding: 0.5em 1.3em 1em 1.2em;
    line-height: 1.8em;    
}

.requirements a:link{ 
    color: #0D2C40;
    cursor: pointer;
}

.main footer{
    position: absolute;
    width: 1%;
    margin: 37% 0 0 0;
    left: 1.5em;
    line-height: 1.8em;
    font-size: 95%;    
}

.main footer a:link{
    text-decoration: none;    
    color: #0D2C40;
}

.main footer a:hover{    
    color: #63869B;
}

.sidebar{
    position: relative;    
    background-color: #C879B2;
    box-sizing: border-box;    
}

.design-selection:after{    
    content: "";
    display: table;
    clear: both;
}

.design-selection h3{
    position: absolute;
    color: #FFFFFF;    
    font-size: 140%;  
    top: 21em;
    left: 1em;
    font-weight: bold;
    
}

.design-selection nav{    
    top: 80em;
    width: 80%;    
    float: right;
    margin-top: 21em;
    color: #FFFFFF;
}

.design-selection nav a:link{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

.design-selection nav a:hover{
    color: #55422F;
}

.design-selection nav ul li{
    width: 25%;
    height: 21em;
    float: left; 
    box-sizing: border-box;
    line-height: 1.5em;
    padding: 11em 0 0 1.5em;
}

.design-selection nav ul li:nth-child(1){
    background-color: #0D2C40;
    margin-top: -21em;
    height: 42em;
    padding: 32em 0 0 2em;
}

.design-selection nav ul li:nth-child(2n){
    background-color: #F15A30;
}

.design-selection nav ul li:nth-child(3){
    background-color: #31C5DA;
}

.design-selection nav ul li:nth-child(5){
    background-color: #0D2C40;
}

.design-selection nav ul li:nth-child(7){
    background-color: #31C5DA;
}

.design-selection nav ul li:before{   
    font-size: 6em;      
}

.design-selection nav ul li:nth-child(1):before{
    content: '1';      
}

.design-selection nav ul li:nth-child(2):before{
    content: '2';      
}

.design-selection nav ul li:nth-child(3):before{
    content: '3';      
}

.design-selection nav ul li:nth-child(4):before{
    content: '4';      
}

.design-selection nav ul li:nth-child(5):before{
    content: '5';      
}

.design-selection nav ul li:nth-child(6):before{
    content: '6';      
}

.design-selection nav ul li:nth-child(7):before{
    content: '7';      
}

.design-selection nav ul li:nth-child(8):before{
    content: '8';      
}

.design-archives:after{    
    content: "";
    display: table;
    clear: both;
}

.design-archives h3{
    position: absolute; 
    color: #FFFFFF;
    transform: rotate(270deg);
    font-size: 150%;    
    font-weight: bold;
    top: 51em;
    right: 39%;
}

.design-archives nav{
    background-color: #31C5DA;
    position: relative;
    width: 20%;    
    left: 60%;
    height: 23em;
}

.design-archives nav ul{
    line-height: 1.5em;
    padding: 11em 0 0 1.3em;
    font-size: 97%;
}

.design-archives nav ul li a:link, .zen-resources ul li a:link{
    color: #0D2C40;
}

.design-archives nav ul li a:hover, .zen-resources ul li a:hover{
    color: #63869B; 
}

.zen-resources h3{
    position: absolute; 
    color: #FFFFFF;
    transform: rotate(270deg);
    font-size: 160%;    
    font-weight: bold;
    top: 60em;
    right: 38%;
}

.zen-resources ul{    
    position: relative;
    width: 20%;    
    left: 60%;    
    height: 35em;
    line-height: 1.5em;
    padding: 5em 0 0 1.3em;
    box-sizing: border-box;    
    background: #31C5DA url(../images/icon-circles.svg) no-repeat center bottom;
    background-size: 100%;
    font-size: 97%;
}

@media (max-width: 1120px){

    body{
        font-size: 97%;
    }
    
    header {
        background: #F15B31;    
        height: 28em;
        width: 100%
    }
    
    header h2{
        width: 67%;
        background-position: left bottom; 
        background-size: 50%;
        padding: 1em 0 1em 0.5em;
        font-size: 240%;
        height: 100%;    
        line-height: 1.3em;   
        font-weight: bold;
    }

    .summary{          
        width: 100%;
        height: auto;
        padding: 2.5em 0 22em 0; 
    }

    .summary p{         
        padding: 0em 1em 1.4em 35%;   
    }

    .preamble{
        width: 100%;        
        margin: 0;    
        padding: 3.5em 0 3em 2%;
    }

    .preamble p:last-child {
        background-color: #F15B31;          
        height: 85%;
        width: 33.3%;
        padding: 6em 1em 20em 1em;
        right: 0;
    }
    
    .main{
        background-size: 90em;
    }

    .explanation{
        width: 67%;   
    }

    .explanation p{
        width: 62%;
    }

    .participation{
        left: 0;
        width: 66.7%;
        margin: 20em 0 0 0;
    }

    .benefits{
        width: 33.3%;
        left: 0;
        margin-top: 11em;
        height: 95%;
    }

    .requirements{
        width: 75%;
        columns: auto;    
    }

    .requirements h3{    
        right: 87%;
    }

    .design-selection nav{
        width: 100%;
    }

    .requirements:before{
        height: 47em
    }
    
    .main footer{
        margin: 12em 0 0 0;
    }   

    .design-selection h3{
        top: 13em;
        left: 78%;
    }

    .design-selection nav ul li:first-child{
        margin-bottom: -1em;    
    }

    .design-archives nav, .zen-resources ul{
        width: 25%;
        left: 50%;
    }
    
    .design-archives h3, .zen-resources h3{
        right: 50%;
    }
}

@media (max-width: 850px){
    body{
        font-size: 96%;
    }

    header{
        height: 21em;
    }

    header h2{
        font-size: 200%;
    }

    .summary{
        padding: 2.5em 0 18em 0;
    }
    
    .summary p{
        padding: 0em 2em 1.4em 2%;
    }
    
    .preamble{
        height: 100%;
        padding: 2em 0 1em 2%;
    }
        
    .preamble p{
        width: 95%;
    }
    
    .preamble p:last-child{
        background-color: inherit;
        font-size: 95%;
        color: #0D2C40;
        width: 95%;   
        margin: 0;
        position: static;
        padding: 0;
    }
    
    .main{
        background: none;
        padding: 0;       
    }
    
    .explanation{
        background-image: none;
        width: 100%;
        margin: 0;
    }
    
    .explanation h3{
        transform: none;
        height: auto;
        position: static;
        float: none;
        padding: 1em 0 0 1em;
    }
    
    .explanation p{
        width: 93%;
        padding: 2em 0 1em 1.5em;
    }
    
    .explanation p:last-child{
        padding: 0 0 2.5em 1.5em;
    }
    
    .participation{
        margin: 0;
        width: 100%;
        position: relative;
        clear: both;
    }
    
    .benefits{        
        width: 100%;
        left: 0;
        margin: 2em 0 0 0;
        height: auto;
        background-size: 33%;
        opacity: 1;   
        position: relative;
        padding: 1em 0 0 0;
    }
    
    .benefits h3{
        margin-top: 8em;
    }
    
    .benefits p{
        padding: 0 1.3em 3em 1.2em;
    }
    
    .requirements:before{
        content: none;
    }
    
    .requirements{    
        width: 100%;
        margin-top: 27%;
        position: relative;
        margin: 0;
        background-color: #F6EFE5;
    }
    
    .requirements h3{
        transform: none;  
        position: static;
        font-size: 150%;
        padding: 1em 0 0 1em;
    }
    
    .main{
        top: 0;
    }
    
    .main footer{
        position: relative;
        margin: 0;
        left: 0;
        width: 100%;  
        padding: 0 0 0 1em;
        box-sizing: border-box;
    }
    
    .main footer a:link{
        padding-right: 0.5em;
    }
    
    .sidebar{       
        top: 1em;
    }
    
    .design-selection nav{
        margin-top: 8em;
    }
    
    .design-selection h3{
        top: 3em;
        left: 3%;
    }
    
    .design-selection nav ul li:first-child{
        margin: 0;        
    }
    
    .design-selection nav ul li, .design-selection nav ul li:first-child{
        padding: 0 0 0 0;        
        width: 100%;
        height: 11em;
        padding: 0 0 0 1em;
    }
    
    .design-selection nav ul li:before{
        font-size: 2.3em;
        font-weight: bold;
        display: block;
        padding: 2em 0 0.3em 0;
    }
    
    .design-selection nav ul li a:link{
        display: inline;
    }
    
    .design-archives, .zen-resources{
        background-color: #31C5DA;
    }
    
    .design-archives h3{
        transform: none;
        position: static;
        padding: 3em 0 0 1em;
    }
    
    .design-archives nav{
        width: 100%;
        left: 0;      
        height: auto;
    }
    
    .design-archives nav ul{
        padding: 2em 0 1em 1.5em;
        line-height: 2em;
        font-size: 100%;
    }
    
    .zen-resources h3{
        transform: none;
        position: static;
        padding: 3em 0 0 1em;
    }
    
    .zen-resources ul{
        width: 100%;
        left: 0;      
        height: 22em;
        background-size: 35%;
        padding: 2em 0 0 1.3em;
    }  
}
